{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <center><div class="row mt-5">
            <center><div class="col">
                <div class="card border-danger">
                    <div class="card-header border-danger-subtle bg-danger-subtle">
                        <b class="text-danger-emphasis">Создание маршрута</b>
                    </div>
                    <div class="card-body">
                        <div class="mb-3 row">
                            <div class="col">
                                <form action="{% url 'route' %}" method="post">
                                    {% csrf_token %}

                                    {% if errors %}
                                        {{ errors }}
                                    {% endif %}
                                    {% for field in form %}
                                        <div class="row">
                                            <div class="col-6">
                                            {{ field.label_tag }}
                                            </div>
                                            <div class="col-6">
                                            {{ field }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <input type="submit" value="Создать" class="btn text-danger-emphasis bg-danger-subtle border-danger-subtle w-25">
                                </form>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col">
                                <p>Длина Маршрута: {{ dist }}</p>
                                <center><ul>
                                    {% for i in way_arr %}
                                        <li>{{ i }}</li>
                                    {% endfor %}
                                </ul></center>
                            </div>
                        </div>
                    </div>
                </div>
            </div></center>
        </div>
        </center>
    </div>
{% endblock %}