{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row mt-5">
        <div class="col-8">
            <center>
                <div class="card border-danger">
                    <div class="row mt-5">
                        <div class="col">
                            <img src="{% static 'img/Выставки.jpeg' %}"
                                 class="card-img-top border-danger-subtle bg-danger-subtle" alt="">
                        </div>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-4">
            <center>
                <div class="card border-danger">
                    <div class="card-body">
                        <div class="mb-3 row">
                            <div class="col">
                                <h5><b class="text-danger-emphasis">Выставки</b></h5>
                                <p>{{ dist_v }}</p>
                                <center>
                                    <ul class="list-group list-group-flush">
                                        {% for i in way_arr_v %}
                                        <center>
                                            <li class="list-group-item" style="width: 18rem;">{{ i }}</li>
                                        </center>
                                        {% endfor %}
                                    </ul>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-8">
            <center>
                <div class="card border-danger">
                    <div class="row mt-5">
                        <div class="col">
                            <img src="{% static 'img/СССР.jpeg' %}"
                                 class="card-img-top border-danger-subtle bg-danger-subtle" alt="">
                        </div>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-4">
            <center>
                <div class="card border-danger">
                    <div class="card-body">
                        <div class="mb-3 row">
                            <div class="col">
                                <h5><b class="text-danger-emphasis">СССР</b></h5>
                                <p>{{ dist_s }}</p>
                                <center>
                                    <ul class="list-group list-group-flush">
                                        {% for i in way_arr_s %}
                                        <center>
                                            <li class="list-group-item" style="width: 18rem;">{{ i }}</li>
                                        </center>
                                        {% endfor %}
                                    </ul>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </div>
    <div class="row mt-5 mb-3">
        <div class="col-8">
            <center>
                <div class="card border-danger">
                    <div class="row mt-5">
                        <div class="col">
                            <img src="{% static 'img/Наука.jpeg' %}"
                                 class="card-img-top border-danger-subtle bg-danger-subtle" alt="">
                        </div>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-4">
            <center>
                <div class="card border-danger">
                    <div class="card-body">
                        <div class="mb-3 row">
                            <div class="col">
                                <h5><b class="text-danger-emphasis">Наука</b></h5>
                                <p>{{ dist_n }}</p>
                                <center>
                                    <ul class="list-group list-group-flush">
                                        {% for i in way_arr_n %}
                                        <center>
                                            <li class="list-group-item" style="width: 18rem;">{{ i }}</li>
                                        </center>
                                        {% endfor %}
                                    </ul>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </div>
</div>

{% endblock %}